
body{
    margin: 0;
    height: auto;
    overflow-x: hidden;
}


.website{
    width: 80vw;
    padding-left: 10vw;
    
}


/* <------------ header ---------------> */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vh;
}

.headerContainer{
    padding-top: 3vh;
   padding-right: 15px;
   padding-left: 15px;
}

.brandLogo{
    font-size: 4vw;
    font-weight: 600;
}

li{
    list-style-type: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

li a{
    font-size: 18px;
    margin-right: 25px;
}
/* <------------ header ---------------> */
/* <------------ hero ---------------> */

.hero{
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    display: flex;
    border-bottom: 15px #E4E4E4;

}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Poppins', sans-serif;
}

h3{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Poppins', sans-serif;
}

p2{
    font-family: 'Poppins', sans-serif;
}


.heroText{
    padding-top: 6vh;
    padding-left: 5vw;
    padding-bottom: 4vh;
    width: 50%;
}

.heroBox{
    background-color: #E4E4E4;
    width: 50%;
    height: auto;
    border-bottom-left-radius: 100%;
}

.heroButton{
    background-color: #BEBEBE;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-top: 2vh;
    padding: 2vh;
    border: 3vh;
    border-radius: 10px;
}

/* <------------ hero ---------------> */

.quote{
    width: 100%;
    height: auto;
    display: flex;
}


.quoteText{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 4vh;
    width: 50%;
}

.quoteCircleLocation{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteCircle{
    background-color: #E4E4E4;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}