
body{
    margin: 0;
    height: auto;
    overflow-x: hidden;
}


.website{
    width: 80vw;
    margin-left: 10vw;
    
}


/* <------------ header ---------------> */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vh;
}

.headerContainer{
    padding-top: 3vh;
   padding-right: 15px;
   padding-left: 15px;
}

.brandLogo{
    font-size: 4vw;
    font-weight: 600;
}

li{
    list-style-type: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

li a{
    font-size: 18px;
    margin-right: 25px;
}
/* <------------ header ---------------> */
/* <------------ hero ---------------> */

.hero{
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    display: flex;
    border-bottom: 15px #E4E4E4;

}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Poppins', sans-serif;
}

h3{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Poppins', sans-serif;
}

p2{
    font-family: 'Poppins', sans-serif;
}


.heroText{
    padding-top: 6vh;
    padding-left: 5vw;
    padding-bottom: 4vh;
    width: 50%;
}

.heroBox{
    background-color: #E4E4E4;
    width: 50%;
    height: auto;
    border-bottom-left-radius: 100%;
}

.heroButton{
    background-color: #BEBEBE;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-top: 2vh;
    padding: 2vh;
    border: 3vh;
    border-radius: 10px;
}

/* <------------ hero ---------------> */
/* <------------ quote ---------------> */

.quote{
    width: 100%;
    height: auto;
    display: flex;
}


.quoteText{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 4vh;
    width: 50%;
}

.quoteCircleLocation{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteCircle{
    background-color: #E4E4E4;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* <------------ quote ---------------> */
/* <------------ call ---------------> */

.call{
    width: 100vw;
    height: auto;
    /* position: absolute; */
    margin-left: -10vw;
    background-color:#F7F7F7;
}

.callText{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    padding-bottom: 8vh;
}

.actions{
    width: 80vw;
    padding-left: 10vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8vh;

}

.actionOne{
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionTwo{
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionThree{
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.actionCircle{
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    font-size: 5vw;
    margin-bottom: 8vh;
}

.actionNumber{
    display: flex;
    align-items: center;
    margin-right: 2vw;
}


.actionBio{
    display: flex;
    justify-content: center;
}


.actionTitle{
    margin-bottom: 1vh;
}

/* <------------ call ---------------> */
/* <------------ event ---------------> */



.event{
    width: 100%;
    height: auto;
    background-color: red;
    display: flex;
}

.eventSlides{
    background-color: #E4E4E4;
    width: 30vw;
    height: 40vh;
    margin-top: 8vh;    
    margin-bottom: 8vh;

}

.eventTitle{
    
}